.navigation{
    position: fixed;
    background-color: $color-1;
    border-bottom: 3px solid $color-2;
    padding: 5px 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .container-fluid{
        display: flex;
        justify-content: space-around;
    }
    .logo-claro{
        max-width: 100px;
        width: 100%;
    }
    .logo-sochi{
        max-width: 100px;
        width: 100%;
    }
}

@media (min-width: 768px){
    .navigation{
        .logo-claro{
            max-width: 150px;
        }
        .logo-sochi{
            max-width: 150px;
        }
    }
}